<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset= "UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title> Tribute Page: Xavi Hernández </title>
</head>

<body>


    <center> <h1> XAVI HERNÁNDEZ <i> -El mejor mediocampista de la historia- </i> </h1> </center>


    <p> Xavier Hernández Creus (Tarrasa, Barcelona, España, 25 de enero de 1980), conocido como Xavi, es un exfutbolista y entrenador español. Actualmente dirige al Al-Sadd de Catar, su último equipo como jugador​. Formado desde categoría alevín en la cantera del Barcelona, jugaba como mediocentro organizador. Debutó en 1998 con el primer equipo azulgrana en la Primera División, con el que disputó 17 temporadas (1998–2015),​ logrando 25 títulos como barcelonista, entre los cuales se incluyen 4 Ligas de Campeones.​
    Como internacional español, integró una exitosa generación que logró con la selección sub-20, el campeonato mundial en 1999 y con la selección olímpica, la medalla de plata en Sídney 2000. Fue internacional absoluto con España durante 14 años (2000–2014), totalizando 133 internacionalidades y 13 goles. Con ella se proclamó doble campeón continental (2008 y 2012), y campeón mundial en 2010.
    El 14 de diciembre de 2020 fue incluido como mediocentro defensivo en el Dream Team histórico del Balón De Oro. </p>

    <p> Como internacional español, integró una exitosa generación que logró con la selección sub-20, el campeonato mundial en 1999 y con la selección olímpica, la medalla de plata en Sídney 2000.​ Fue internacional absoluto con España durante 14 años (2000–2014), totalizando 133 internacionalidades y 13 goles. Con ella se proclamó doble campeón continental (2008 y 2012), y campeón mundial en 2010. </p>

    <p> El 14 de diciembre de 2020 fue incluido como mediocentro defensivo en el Dream Team histórico del Balón De Oro. </p>

    <p> <center> <img src="XaviH.jpg"  height="30%" width="30%"> </center> </p> 
   
    <p> Lista de Títulos ganados con F.C. Barcelona: </p>
    <ul>
        <li> Primera División de España		1998-99
        <li> Primera División de España	2004-05
        <li> Supercopa de España	2005
        <li> Primera División de España	2005-06
        <li> Supercopa de España	2006
        <li> Liga de Campeones de la UEFA	 2005-06
        <li> Primera División de España	2008-09
        <li> Copa del Rey	2008-09
        <li> Liga de Campeones de la UEFA   2008-09
        <li> Supercopa de España	2009
        <li> Supercopa de Europa	2009
        <li> Copa Mundial de Clubes de la FIFA	 2009
        <li> Primera División de España	2009-10
        <li> Supercopa de España	2010
        <li> Primera División de España	2010-11
        <li> Liga de Campeones de la UEFA	2010-11
        <li> Supercopa de España	2011
        <li> Supercopa de Europa     2011
        <li> Copa Mundial de Clubes de la FIFA      2011
        <li> Copa del Rey	2011-12
        <li> Primera División de España	2012-13
        <li> Supercopa de España	2013
        <li> Primera División de España	2014-15
        <li> Copa del Rey	2014-15
        <li> Liga de Campeones de la UEFA	2014-15    
    </ul>

    <p> Lista de Títulos ganados con F.C. Al Sadd: </p>
    <ul>
    <li> Copa del Emir de Catar	Al Sadd	Bandera de Catar Catar	2017
        <li> Copa Príncipe de la Corona de Catar	2017
        <li> Copa del Jeque Jassem	2017
        <li> Liga de fútbol de Catar	2018-19
    </ul>

    <p> Lista de Títulos ganados con Selección Española: </p>
    <ul>
        <li> Eurocopa	   2008
        <li> Copa Mundial de Fútbol     2010
        <li> Eurocopa      2012
    </ul>

    <p>_______________________________________________________________________________________________________________________________________________________________________________________________________</p>

    <p> <address> Biografía Xavi Hernández </address> </p>
    <a href="https://es.wikipedia.org/wiki/Xavi_Hern%C3%A1ndez#Como_jugador"> www.wikipedia.com </a> 



</body>
</html>

